# Machine Learning Exercises

Python Machine Learning Tutorial (Data Science)<br/>
https://www.youtube.com/watch?v=7eh4d6sabA0

In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [30]:
df = pd.read_csv('csv/music.csv')

X = df.drop(columns=['genre'])

y = df['genre'].to_frame()

In [34]:
#0 = male
#1 = female
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [32]:
y

        genre
0      HipHop
1      HipHop
2      HipHop
3        Jazz
4        Jazz
5        Jazz
6   Classical
7   Classical
8   Classical
9       Dance
10      Dance
11      Dance
12   Acoustic
13   Acoustic
14   Acoustic
15  Classical
16  Classical
17  Classical

#### Simple Prediction

In [38]:
model = DecisionTreeClassifier()

model.fit(X,y)

predictions = model.predict([[21,1],[22,0]])

predictions

C:\Users\rafael_fagundes\AppData\Local\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

#### Calculating Accuracy

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

new_model = DecisionTreeClassifier()

new_model.fit(X_train,y_train)

new_predictions = new_model.predict(X_test)

new_predictions

array(['Dance', 'Acoustic', 'HipHop', 'Jazz'], dtype=object)

In [43]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, new_predictions)

1.0